.socials__position {
  position: absolute;
  width: 380px;
  height: 470px;
  background: $social-liner-g;
  opacity: 0;
}

.socials__position__item {
  @extend %flex-row;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  height: 100%;
}

.team__socials__item {
  @extend %flex-row;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 40px;
  height: 40px;
  background: $yelow-color;
  border: none;
  margin-right: 1px;
}

.team__socials__item:hover {
  background: $orange-color;
  transition: .5s;
}

.team__socials__item:hover .team__icon{
  fill: $white-color;
}

.team__socials__item svg{
  display: inline-block;
  width: 30px;
  height: 30px;
  fill: $orange-color;
}

.team__item:hover .socials__position {
  box-shadow: 10px 10px 0px 0px $shadow-color;
  opacity: 1;
  transition: 1s;
}
