* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    -webkit-clip-path:inset(100%);
            clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* roboto-100italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
         url('../fonts/roboto-v20-latin-100italic.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin-100italic.woff') format('woff');
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin-regular.woff') format('woff');
  }

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), 
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); 
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), 
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); 
  }

  /* kaushan-script-regular - latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
         url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'), 
         url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); 
  }
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
}
/* 
Header
*/


header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243,129,129, .8)), to(rgba(252,227,138, .8))), 
    url(../img/header/background/Layer\ 15.png);
    background-image: linear-gradient(rgba(243,129,129, .8), rgba(252,227,138, .8)), 
    url(../img/header/background/Layer\ 15.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 230px;
}
.logo {
    display: block;
    width: 85px;
    height: 23px;
}
.nav {
    width: 620px;
}
.nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.nav__item {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    list-style: none;
    font-size: 14px;
    line-height: 17px;
}
.nav__link {
    text-decoration: none;
    color: #ffffff;
    position: relative;
}
.nav__link:hover,
.nav__link:focus {
    color: rgb(252, 227, 138);
}
.svg__header {
    width: 20px;
    height: 15px;
}
.header__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 175px;
    padding-top: 30px;
}
.nav__link::after {
    display: block;
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    background: rgba(252, 227, 138, 1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    opacity: 0;
}
.nav__link:hover::after {
    width: 100%;
    opacity: 1;
}
.header__title-position {
    width: 830px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.header__subtitile {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 72px;
    line-height: 86px;
    color: #ffffff;
    margin-bottom: 53px;
}
.header__title {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 150px;
    line-height: 140px;
    color: #ffffff;
    margin-bottom: 122px;
}
.header__button {
    font-family: 'Montserrat', sans-serif;
    background: none;
    text-transform: uppercase;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding: 12px 25px;
    outline: none;
}
.header__button:hover,
.header__button:focus {
    color: rgba(252, 227, 138, 1);
}
/* 
Section Amazing Services 
*/
.section__subtitile {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 50px;
}
.section__titile {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 110px;
    text-align: center;
}
.services__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
}
.services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 380px;
            flex: 0 0 380px;
    padding-left: 60px;
    background: no-repeat;
}
.alar__icon {
    background-image: url(../img/icon/ALARM.svg);
}
.line__icon {
    background-image: url(../img/icon/LINE\ GRAPH.svg);
}
.compute__icon {
    background-image: url(../img/icon/COMPUTER\ _\ OK.svg);
}
.book__icon {
    background-image: url(../img/icon/BOOK\ 2.svg);
}
.home__icon {
    background-image: url(../img/icon/HOME.svg);
}
.image__icon {
    background-image: url(../img/icon/IMAGE.svg);
}
.services__name {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 18px;
}
.services__text {
    text-align: left;
}
.services__item:nth-of-type(-n + 3) {
    margin-bottom: 98px;
}
/* 
Meet our team
*/
.team__text {
    text-align: center;
    padding: 0 120px;
    padding-bottom: 90px;
}
.team__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    text-align: center;
    padding-bottom: 84px;
}
.team__image {
    margin-bottom: 30px;
}
.team__name {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
}
.team__position {
    font-style: italic;
}
.team__item {
    position: relative;
}
/*
Team Socials Item
*/
.socials__position {
    position: absolute;
    width: 380px;
    height: 470px;
    background: -webkit-gradient(linear,
    left top, left bottom,
    from(rgba(239, 138, 139, 0.7)),
    to(rgba(240, 215, 134, 0.7)));
    background: linear-gradient(rgba(239, 138, 139, 0.7),
    rgba(240, 215, 134, 0.7));
    opacity: 0;
}
.socials__position__item {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.team__socials__item {
    width: 56px;
    height: 56px;
    background: #fce38a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}
.team__socials__item svg{
    display: inline-block;
    width: 40px;
    height: 40px;
    fill: #f38181;
}
.team__item:hover .socials__position {
    -webkit-box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
            box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
}
.team__socials__item:hover {   
    background: #f38181;
    -webkit-transition: .5s;
    transition: .5s;
}
.team__socials__item:hover .team__icon{
    fill: #ffffff;
}

/*
Footer Section 
*/
.footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid  #b3b3b3;
}
.form__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 410px;
}
.footer__input {
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    font-style: italic;
}
.footer__button {
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    border: none;
    width: 150px;
    height: 40px;
    font-weight: 700;
    color: #ffffff;
    background-color: #95e1d3;
}
.footer__text__span {
    color: #f6a1a1;
}
.footer__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    padding: 20px 20px;
}
